// Colors
$color-primary: #907d7d; //#c15305; // #709aa7;
$color-logo: #c15305;
$background-soft: #fffcf8;

$color-white: #fff; // just white
$color-light-gray-1: #e0e0e0; // background white
$color-light-gray-2: #c0c0c0; // whitest text
$color-light-gray-3: #a0a0a0; // placeholder text

$color-black: #000; // just black
$color-dark-gray-1: #333333; // page text
$color-dark-gray-2: #505050; // soft text
$color-dark-gray-3: #707070; // soft text
$shadow: rgba(0, 0, 0, 0.08);

$gradient: linear-gradient(
  to right,
  #e3eeff,
  #e3eeff 3%,
  #f3e7e9 97%,
  #f3e7e9 99%
);
