nav.nav-box {
  margin: 0 2rem 0 0;
  padding: 1rem;
  width: 10rem;
  height: 100%;
  max-width: 10rem;
  height: auto;
  border-radius: 1.2rem;
  box-shadow: 0 1px 50px 0 $shadow;
  border: solid 1px $color-light-gray-1;
  background-color: $color-white;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;

  div.col {
    display: grid;
    justify-content: center;
  }
}

.nav-box__logo {
  padding: 0;
  margin: 1rem 0 0 0;
  justify-content: center;
  img {
    width: 100%;
  }
}

.nav-box__item {
  padding: 0.7rem;
  border-radius: 0.7rem;
  background-color: $color-white;
  margin: 1rem 0;
  width: 4.7rem;
  height: 4.7rem;

  display: flex;
  justify-content: center;
  svg {
    max-width: 4rem;
    max-height: 4rem;
  }
}

.nav-box__item--selected {
  background-color: $color-primary;
  img {
    filter: none;
  }
}

.nav-box__icon {
  padding: 0;
  margin: 0;
}
